<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="aquamonitorSecurityProvider" class="niva.geoserver.security.AquamonitorSecurityProvider">
  	</bean>

    <bean id="aquamonitorAuthenticationProviderPanelInfo" class="niva.geoserver.security.AquamonitorAuthenticationProviderPanelInfo">
        <property name="id" value="idAuthProvider" />
        <property name="shortTitleKey" value="shortAuthProviderPanel"/>
        <property name="titleKey" value="titleAuthProviderPanel"/>
        <property name="descriptionKey" value="descriptionAuthProviderPanel"/>
    </bean>
    
    <bean id="dataAccessReportPPIO" class="niva.geoserver.process.DataAccessReportPPIO" /> 
    
    <bean id="taskScheduler" class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
        <property name="poolSize" value="2"/>
        <property name="threadNamePrefix" value="CacheScheduler-"/>
    </bean>
    
    <bean id="cacheScheduler" class="niva.geoserver.data.CacheScheduler">
    	<constructor-arg ref="rawCatalog"/>
        <constructor-arg ref="taskScheduler"/>
    </bean>
    
	<context:component-scan base-package="niva.geoserver.query" />
</beans>